@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: castle;
    src: url(static/Castle\ Font\ Regular.otf);
  }
  
.title {
    font-family: castle;
    -webkit-text-stroke: 1px black;
    text-shadow: 5px 5px 8px #232323;
    font-size: 3vw;
}
.falcon-bkg{
    background-image: url('./static/falconhoof.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -50% 100%;
    text-shadow: 2px 1px 0px #000000;
}

.paper-bkg{
    background-image: url('./static/paper.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    text-shadow: 2px 1px 0px #000000;
}
.wood-bkg{
    background-image: url('./static/wood.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: right;
    text-shadow: 2px 1px 0px #000000;
}